ul {
    color: purple;
}
#about {
    padding-bottom: 300px;
    background-color:  #F3F4F6;
    background-size: cover;
}
#default {
    padding-bottom: 20px;
    background-color:  #F3F4F6;
    background-size: cover;

}
#role {
    background-color:  #F3F4F6;
    background-size: cover;
}
